{% extends "users/layout.html" %}

{% block body %}
    <div class="container" style="margin-bottom:397px;">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <p style="color: red;">{{ form.non_field_errors }}</p>
                <h2>Registration</h2>
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                        <input id="username" class="form-control" name="{{ form.username.name }}" />
                        <label class="form-label" for="username">Username</label>
                    </div>
                    <div style="color: red;">{{ form.username.errors }}</div>
                    <div class="form-outline mb-4">
                        <input type="password" id="password1" class="form-control" name="{{ form.password1.name }}" />
                        <label class="form-label" for="password1">Password</label>
                    </div>
                    <div style="color: red;">{{ form.password1.errors }}</div>
                    <div class="form-outline mb-4">
                        <input type="password" id="password2" class="form-control" name="{{ form.password2.name }}" />
                        <label class="form-label" for="password2">Confirt password</label>
                    </div>
                    <div style="color: red;">{{ form.password2.errors }}</div>
                    <button type="submit" class="btn btn-primary btn-block mb-4" style="background-color: rgb(157,144,159); border-color:rgb(157,144,159);">Register</button>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
{% endblock %}